<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WinRightGrid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="AWSAccessKey" value="1HF0PS1FQ264FJZ2SNG2"/>
		<add key="AWSSecretKey" value="JvOS4V6xx3eUQf1zJqPt95tW2jRy4ORFQdrZeqqW"/>
    <add key="input_queue_url" value="https://queue.amazonaws.com/543681246496/rs-test"/>
    <add key="results_queue_url" value="https://queue.amazonaws.com/543681246496/rs-test-results"/>
    <add key="SQS_Visibility"  value="30"/>
    <add key="S3_Bucket" value="WinRightGrid"/>
    <add key="S3_Input_Path" value="input/"/>
    <add key="S3_Output_Path" value="output/"/>
    <add key="QueueTest" value="0"/>
    <add key="StorageTest" value="0"/>
    <add key="StrorageSampleFile" value="C:\Temp\temp.txt"/>
    <add key="Runnable_Application" value="c:\temp\ImageConversion.exe"/>
   <add key ="Runnable_Application_Args" value="-i @input_file -o @output_file"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <WinRightGrid.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </WinRightGrid.Properties.Settings>
  </userSettings>
</configuration>
